USE [master]
GO
/****** Object:  Database [SRM]    Script Date: 30/06/2026 11:26:09 ******/
CREATE DATABASE [SRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SRM]
GO
/****** Object:  Table [dbo].[MAS_DELIVERABLE_STATUS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_DELIVERABLE_STATUS](
	[DELIVERABLE_STATUS_ID] [nchar](10) NOT NULL,
	[DELIVERABLE_STATUS_DESC] [nvarchar](50) NOT NULL,
	[STATUS_ORDER] [int] NOT NULL,
	[IS_FINAL_STATE] [bit] NOT NULL,
 CONSTRAINT [PK_MAS_DELIVERABLE_STATUS] PRIMARY KEY CLUSTERED 
(
	[DELIVERABLE_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_DELIVERABLE_TYPE]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_DELIVERABLE_TYPE](
	[DELIVERABLE_TYPE_ID] [nchar](10) NOT NULL,
	[DELIVERABLE_TYPE_TEXT] [nchar](50) NOT NULL,
	[DELIVERABLE_TYPE_IS_FILE] [bit] NOT NULL,
	[DELIVERABLE_TYPE_IS_TEXT] [bit] NOT NULL,
 CONSTRAINT [PK_MAS_DELIVERABLE_TYPE] PRIMARY KEY CLUSTERED 
(
	[DELIVERABLE_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_DELIVERABLES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_DELIVERABLES](
	[MODULE_ID] [nchar](10) NOT NULL,
	[STATUS_ID] [nchar](10) NOT NULL,
	[SGATE_ID] [nvarchar](10) NOT NULL,
	[SEQUENCE] [int] NOT NULL,
	[DELIVERABLE_TYPE] [nchar](10) NOT NULL,
	[DELIVERABLE_ACTION] [nchar](255) NOT NULL,
	[DELIVERABLE_ACEPTANCE_CRITERIA] [nvarchar](max) NULL,
	[DELIVERABLE_LINK] [nchar](255) NULL,
	[DELIVERABLE_TEXT_USER] [nvarchar](max) NULL,
	[INSTRUCTION_LINK] [nchar](255) NULL,
	[SAMPLE_LINK] [nchar](255) NULL,
	[DEFAULT_LEAD_TIME_DAYS] [int] NULL,
	[RESPONSIBLE_JOB_TITLE] [nchar](10) NULL,
	[ACCOUNTABLE_JOB_TITLE] [nchar](10) NULL,
	[SUPORTING_JOB_TITLE] [nchar](10) NULL,
 CONSTRAINT [PK_MAS_DELIVERABLES_] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC,
	[STATUS_ID] ASC,
	[SGATE_ID] ASC,
	[SEQUENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_DEPARTMENTS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_DEPARTMENTS](
	[DEPARTMENT_ID] [nchar](10) NOT NULL,
	[DEPARMENT_DESCRIP] [nchar](55) NOT NULL,
 CONSTRAINT [PK_MAS_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_FINISH_STATUS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_FINISH_STATUS](
	[FINISH_STATUS] [nchar](10) NOT NULL,
	[FINISH_STATUS_DESCRIPTION] [nchar](25) NOT NULL,
 CONSTRAINT [PK_MAS_FINISH_STATUS] PRIMARY KEY CLUSTERED 
(
	[FINISH_STATUS] ASC,
	[FINISH_STATUS_DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_GATE_STATUS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_GATE_STATUS](
	[GATE_STATUS_ID] [nchar](10) NOT NULL,
	[GATE_STATUS_DESC] [nvarchar](50) NOT NULL,
	[STATUS_ORDER] [int] NOT NULL,
	[IS_FINAL_STATE] [bit] NOT NULL,
 CONSTRAINT [PK_MAS_GATE_STATUS] PRIMARY KEY CLUSTERED 
(
	[GATE_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_JOB_TITLES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_JOB_TITLES](
	[JOB_TITLE_ID] [nchar](10) NOT NULL,
	[JOB_TITLE_DESCRIPTION] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MAS_JOB_TITLES] PRIMARY KEY CLUSTERED 
(
	[JOB_TITLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_MODULES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_MODULES](
	[MODULE_ID] [nchar](10) NOT NULL,
	[MODULE_DESCRIPTION] [nchar](35) NOT NULL,
 CONSTRAINT [PK_MAS_MODULES] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_STATUS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_STATUS](
	[STATUS_MODULE] [nchar](10) NOT NULL,
	[STATUS_ID] [nchar](10) NOT NULL,
	[STATUS_DESCRIPTION] [nchar](35) NOT NULL,
	[STATUS_SEQUENCE] [int] NOT NULL,
 CONSTRAINT [PK_MAS_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_MODULE] ASC,
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_SUB_MODULES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_SUB_MODULES](
	[MODULE_ID] [nchar](10) NOT NULL,
	[STATUS_ID] [nchar](10) NOT NULL,
	[SGATE_ID] [nvarchar](10) NOT NULL,
	[SEQUENCE] [int] NOT NULL,
	[GATE_TARGET] [nvarchar](100) NOT NULL,
	[RESPONSIBLE] [nvarchar](50) NULL,
	[ACCOUNTABLE] [nvarchar](50) NULL,
	[SUPPORTING] [nvarchar](50) NULL,
	[INFORMED] [nvarchar](50) NULL,
	[ORIGINAL_START_DATE] [date] NULL,
	[ORIGINAL_END_DATE] [date] NULL,
	[PROCESS_DAYS] [int] NOT NULL,
 CONSTRAINT [PK_MAS_SUB_MODULES__1] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC,
	[STATUS_ID] ASC,
	[SGATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAS_USERS_CADENA]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_USERS_CADENA](
	[id] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[ManagerEmail] [nvarchar](50) NULL,
	[FunManagerEmail] [nvarchar](50) NULL,
	[LegalEntityName] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[JobRole] [nvarchar](50) NULL,
	[jobTitle] [nvarchar](50) NULL,
	[employeeLevel] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[PROJECT] [nchar](18) NOT NULL,
	[DESCRIPTION] [nchar](35) NOT NULL,
	[SAP_CUSTOMER] [nchar](10) NOT NULL,
	[CUST_NAME] [nchar](35) NOT NULL,
	[RELEASED_DATE] [nvarchar](8) NOT NULL,
	[SAMPLES_CENTER] [nchar](4) NOT NULL,
	[DESIGN_CENTER] [nchar](4) NOT NULL,
	[MANUFACTURE_CENTER] [nchar](4) NOT NULL,
	[PDCC_LINK] [nchar](255) NOT NULL,
	[PRODUCT_CATEGORY] [nchar](50) NOT NULL,
	[BUSINESS_UNIT] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_DELIVERABLE_APPROVALS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_DELIVERABLE_APPROVALS](
	[APPROVAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRA_DELIVERABLE_ID] [int] NOT NULL,
	[REVIEWER_USER_ID] [nvarchar](50) NOT NULL,
	[APPROVAL_STATUS] [nchar](10) NOT NULL,
	[REVIEWED_DATE] [datetime2](7) NULL,
	[APPROVAL_COMMENTS] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TRA_DELIVERABLE_APPROVALS] PRIMARY KEY CLUSTERED 
(
	[APPROVAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TRA_APPROVALS_REVIEWER] UNIQUE NONCLUSTERED 
(
	[TRA_DELIVERABLE_ID] ASC,
	[REVIEWER_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_DELIVERABLE_COMMENTS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_DELIVERABLE_COMMENTS](
	[COMMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRA_DELIVERABLE_ID] [int] NOT NULL,
	[COMMENT_TEXT] [nvarchar](max) NOT NULL,
	[COMMENT_BY] [nvarchar](50) NOT NULL,
	[COMMENT_DATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TRA_DELIVERABLE_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[COMMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_DELIVERABLE_FILES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_DELIVERABLE_FILES](
	[FILE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRA_DELIVERABLE_ID] [int] NOT NULL,
	[FILE_NAME] [nvarchar](255) NOT NULL,
	[FILE_PATH] [nvarchar](500) NOT NULL,
	[FILE_VERSION] [int] NOT NULL,
	[FILE_SIZE_KB] [int] NULL,
	[MIME_TYPE] [nvarchar](100) NULL,
	[IS_CURRENT_VERSION] [bit] NOT NULL,
	[UPLOADED_BY] [nvarchar](50) NOT NULL,
	[UPLOADED_DATE] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TRA_DELIVERABLE_FILES] PRIMARY KEY CLUSTERED 
(
	[FILE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_DELIVERABLES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_DELIVERABLES](
	[TRA_DELIVERABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPP_LINE_ID] [nvarchar](50) NOT NULL,
	[MODULE_ID] [nchar](10) NOT NULL,
	[STATUS_ID] [nchar](10) NOT NULL,
	[SGATE_ID] [nvarchar](10) NOT NULL,
	[SEQUENCE] [int] NOT NULL,
	[DELIVERABLE_STATUS_ID] [nchar](10) NOT NULL,
	[PLANNED_START_DATE] [date] NULL,
	[PLANNED_END_DATE] [date] NULL,
	[ACTUAL_START_DATE] [date] NULL,
	[ACTUAL_END_DATE] [date] NULL,
	[RESPONSIBLE_USER_ID] [nvarchar](50) NULL,
	[ACCOUNTABLE_USER_ID] [nvarchar](50) NULL,
	[TEXT_CONTENT] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
	[TRA_GATE_ID] [int] NULL,
 CONSTRAINT [PK_TRA_DELIVERABLES] PRIMARY KEY CLUSTERED 
(
	[TRA_DELIVERABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TRA_DELIVERABLES_PROJECT_DELIVERABLE] UNIQUE NONCLUSTERED 
(
	[OPP_LINE_ID] ASC,
	[MODULE_ID] ASC,
	[STATUS_ID] ASC,
	[SGATE_ID] ASC,
	[SEQUENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_GATES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_GATES](
	[OPP_LINE_ID] [nvarchar](50) NOT NULL,
	[GATE_ID] [nchar](10) NOT NULL,
	[GATE_NAME] [nvarchar](50) NULL,
	[GATE_GENERATION_DATE] [datetime2](7) NULL,
	[GATE_LEAD_TIME] [int] NULL,
	[CURRENT_EXPECTED_END_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_TRA_GATES] PRIMARY KEY CLUSTERED 
(
	[OPP_LINE_ID] ASC,
	[GATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_PROJECT_GATES]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_PROJECT_GATES](
	[TRA_GATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPP_LINE_ID] [nvarchar](50) NOT NULL,
	[MODULE_ID] [nchar](10) NOT NULL,
	[STATUS_ID] [nchar](10) NOT NULL,
	[SGATE_ID] [nvarchar](10) NOT NULL,
	[GATE_STATUS_ID] [nchar](10) NOT NULL,
	[RESPONSIBLE_USER_ID] [nvarchar](50) NULL,
	[PLANNED_START_DATE] [date] NULL,
	[PLANNED_END_DATE] [date] NULL,
	[ACTUAL_START_DATE] [date] NULL,
	[ACTUAL_END_DATE] [date] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DATE] [datetime2](7) NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_TRA_PROJECT_GATES] PRIMARY KEY CLUSTERED 
(
	[TRA_GATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TRA_PROJECT_GATES_PROJECT_GATE] UNIQUE NONCLUSTERED 
(
	[OPP_LINE_ID] ASC,
	[MODULE_ID] ASC,
	[STATUS_ID] ASC,
	[SGATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRA_PROJECTS]    Script Date: 30/06/2026 11:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRA_PROJECTS](
	[OPPORTUNITY_ID] [nvarchar](50) NOT NULL,
	[OPPORTUNITY_LINE_ID] [nchar](50) NOT NULL,
	[OPPORTUNITY_NAME] [nchar](75) NOT NULL,
	[OPPORTUNITY_LNE_NAME] [nchar](75) NOT NULL,
	[MATNR] [nchar](18) NOT NULL,
	[DESCRIPTION] [nchar](75) NOT NULL,
	[SAP_CUSTOMER] [nchar](10) NOT NULL,
	[CUST_NAME] [nchar](35) NOT NULL,
	[SALES_ORGANIZATION] [nchar](4) NOT NULL,
	[SAMPLES_CENTER] [nchar](4) NOT NULL,
	[DESIGN_CENTER] [nchar](4) NOT NULL,
	[MANUFACTURE_CENTER] [nchar](4) NOT NULL,
	[PDCC_LINK] [nchar](255) NOT NULL,
	[PRODUCT_CATEGORY] [nchar](50) NOT NULL,
	[BUSINESS_UNIT] [nchar](50) NOT NULL,
	[CURRENT_QG_STATUS] [nchar](10) NOT NULL,
	[RELEASED_DATE] [date] NULL,
	[IsPCA_SF] [bit] NOT NULL,
	[Isfeasibility_SF] [bit] NOT NULL,
	[IsLost_SF] [bit] NOT NULL,
	[PIECES_1Y] [int] NOT NULL,
	[PIECES_2Y] [int] NOT NULL,
	[PIECES_3Y] [int] NOT NULL,
	[PIECES_4Y] [int] NOT NULL,
	[SOP] [date] NULL,
	[OWNER_SF] [nvarchar](50) NOT NULL,
	[IMPORT_CODE] [nvarchar](50) NOT NULL,
	[INCOTERM] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TRA_PROJECTS_] PRIMARY KEY CLUSTERED 
(
	[OPPORTUNITY_ID] ASC,
	[OPPORTUNITY_LINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_APPROVALS_PENDING]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_APPROVALS_PENDING] ON [dbo].[TRA_DELIVERABLE_APPROVALS]
(
	[REVIEWER_USER_ID] ASC,
	[APPROVAL_STATUS] ASC
)
INCLUDE([TRA_DELIVERABLE_ID],[CREATED_DATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRA_COMMENTS_CHRONO]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_COMMENTS_CHRONO] ON [dbo].[TRA_DELIVERABLE_COMMENTS]
(
	[TRA_DELIVERABLE_ID] ASC,
	[COMMENT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRA_FILES_CURRENT]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_FILES_CURRENT] ON [dbo].[TRA_DELIVERABLE_FILES]
(
	[TRA_DELIVERABLE_ID] ASC
)
INCLUDE([FILE_NAME],[FILE_PATH],[FILE_VERSION],[UPLOADED_DATE]) 
WHERE ([IS_CURRENT_VERSION]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_DELIVERABLES_DATES]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_DELIVERABLES_DATES] ON [dbo].[TRA_DELIVERABLES]
(
	[PLANNED_END_DATE] ASC,
	[DELIVERABLE_STATUS_ID] ASC
)
INCLUDE([OPP_LINE_ID],[MODULE_ID],[STATUS_ID],[SGATE_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_DELIVERABLES_OPP_LINE]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_DELIVERABLES_OPP_LINE] ON [dbo].[TRA_DELIVERABLES]
(
	[OPP_LINE_ID] ASC
)
INCLUDE([DELIVERABLE_STATUS_ID],[PLANNED_END_DATE],[ACTUAL_END_DATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_PROJECT_GATES_OPP_LINE]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_PROJECT_GATES_OPP_LINE] ON [dbo].[TRA_PROJECT_GATES]
(
	[OPP_LINE_ID] ASC
)
INCLUDE([MODULE_ID],[STATUS_ID],[SGATE_ID],[GATE_STATUS_ID],[PLANNED_END_DATE],[ACTUAL_END_DATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_PROJECT_GATES_OVERDUE]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_PROJECT_GATES_OVERDUE] ON [dbo].[TRA_PROJECT_GATES]
(
	[PLANNED_END_DATE] ASC,
	[GATE_STATUS_ID] ASC
)
INCLUDE([OPP_LINE_ID],[MODULE_ID],[STATUS_ID],[SGATE_ID],[RESPONSIBLE_USER_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TRA_PROJECT_GATES_RESPONSIBLE]    Script Date: 30/06/2026 11:26:09 ******/
CREATE NONCLUSTERED INDEX [IX_TRA_PROJECT_GATES_RESPONSIBLE] ON [dbo].[TRA_PROJECT_GATES]
(
	[RESPONSIBLE_USER_ID] ASC,
	[GATE_STATUS_ID] ASC
)
INCLUDE([OPP_LINE_ID],[TRA_GATE_ID],[PLANNED_END_DATE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLE_STATUS] ADD  CONSTRAINT [DF_MAS_DELIVERABLE_STATUS_IS_FINAL]  DEFAULT ((0)) FOR [IS_FINAL_STATE]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLE_TYPE] ADD  CONSTRAINT [DF_Table_2_DELIVERABLE_IS FILE]  DEFAULT ((0)) FOR [DELIVERABLE_TYPE_IS_FILE]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLE_TYPE] ADD  CONSTRAINT [DF_MAS_DELIVERABLE_TYPE_DELIVERABLE_TYPE_IS_TEXT]  DEFAULT ((1)) FOR [DELIVERABLE_TYPE_IS_TEXT]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLES] ADD  CONSTRAINT [DF_MAS_DELIVERABLES__SEQUENCE]  DEFAULT ((0)) FOR [SEQUENCE]
GO
ALTER TABLE [dbo].[MAS_GATE_STATUS] ADD  CONSTRAINT [DF_MAS_GATE_STATUS_IS_FINAL]  DEFAULT ((0)) FOR [IS_FINAL_STATE]
GO
ALTER TABLE [dbo].[MAS_SUB_MODULES] ADD  CONSTRAINT [DF_MAS_SUB_MODULES__PROCESS_DAYS_1]  DEFAULT ((0)) FOR [PROCESS_DAYS]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS] ADD  CONSTRAINT [DF_TRA_APPROVALS_STATUS]  DEFAULT ('PENDING') FOR [APPROVAL_STATUS]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS] ADD  CONSTRAINT [DF_TRA_APPROVALS_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_COMMENTS] ADD  CONSTRAINT [DF_TRA_COMMENTS_DATE]  DEFAULT (getdate()) FOR [COMMENT_DATE]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_FILES] ADD  CONSTRAINT [DF_TRA_FILES_VERSION]  DEFAULT ((1)) FOR [FILE_VERSION]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_FILES] ADD  CONSTRAINT [DF_TRA_FILES_IS_CURRENT]  DEFAULT ((1)) FOR [IS_CURRENT_VERSION]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_FILES] ADD  CONSTRAINT [DF_TRA_FILES_DATE]  DEFAULT (getdate()) FOR [UPLOADED_DATE]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES] ADD  CONSTRAINT [DF_TRA_DELIVERABLES_STATUS]  DEFAULT ('PENDING') FOR [DELIVERABLE_STATUS_ID]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES] ADD  CONSTRAINT [DF_TRA_DELIVERABLES_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES] ADD  CONSTRAINT [DF_TRA_PROJECT_GATES_STATUS]  DEFAULT ('NOTSTARTED') FOR [GATE_STATUS_ID]
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES] ADD  CONSTRAINT [DF_TRA_PROJECT_GATES_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__OPPORTUNITY_NAME]  DEFAULT ('') FOR [OPPORTUNITY_NAME]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__OPPORTUNITY_LNE_NAME]  DEFAULT ('') FOR [OPPORTUNITY_LNE_NAME]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__MATNR]  DEFAULT ('') FOR [MATNR]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__DESCRIPTION]  DEFAULT ('') FOR [DESCRIPTION]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__SAP_CUSTOMER]  DEFAULT ('') FOR [SAP_CUSTOMER]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__CUST_NAME]  DEFAULT ('') FOR [CUST_NAME]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__SALES_ORGANIZATION]  DEFAULT ('') FOR [SALES_ORGANIZATION]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__SAMPLES_CENTER]  DEFAULT ('') FOR [SAMPLES_CENTER]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__DESIGN_CENTER]  DEFAULT ('') FOR [DESIGN_CENTER]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__MANUFACTURE_CENTER]  DEFAULT ('') FOR [MANUFACTURE_CENTER]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__PDCC_LINK]  DEFAULT ('') FOR [PDCC_LINK]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__PRODUCT_CATEGORY]  DEFAULT ('') FOR [PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__BUSINESS_UNIT]  DEFAULT ('') FOR [BUSINESS_UNIT]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__CURRENT_QG_STATUS]  DEFAULT ('') FOR [CURRENT_QG_STATUS]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__IsPCA_SF]  DEFAULT ((0)) FOR [IsPCA_SF]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__Isfeasibility_SF]  DEFAULT ((0)) FOR [Isfeasibility_SF]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__IsLost_SF]  DEFAULT ((0)) FOR [IsLost_SF]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__PIECES_1Y]  DEFAULT ((0)) FOR [PIECES_1Y]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__PIECES_2Y]  DEFAULT ((0)) FOR [PIECES_2Y]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__PIECES_3Y]  DEFAULT ((0)) FOR [PIECES_3Y]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__OWNER_SF]  DEFAULT ('') FOR [OWNER_SF]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__IMPORT_CODE]  DEFAULT ('') FOR [IMPORT_CODE]
GO
ALTER TABLE [dbo].[TRA_PROJECTS] ADD  CONSTRAINT [DF_TRA_PROJECTS__INCOTERM]  DEFAULT ('') FOR [INCOTERM]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLES]  WITH CHECK ADD  CONSTRAINT [FK_MAS_DELIVERABLES__MAS_DELIVERABLE_TYPE] FOREIGN KEY([DELIVERABLE_TYPE])
REFERENCES [dbo].[MAS_DELIVERABLE_TYPE] ([DELIVERABLE_TYPE_ID])
GO
ALTER TABLE [dbo].[MAS_DELIVERABLES] CHECK CONSTRAINT [FK_MAS_DELIVERABLES__MAS_DELIVERABLE_TYPE]
GO
ALTER TABLE [dbo].[MAS_DELIVERABLES]  WITH CHECK ADD  CONSTRAINT [FK_MAS_DELIVERABLES__MAS_SUB_MODULES] FOREIGN KEY([MODULE_ID], [STATUS_ID], [SGATE_ID])
REFERENCES [dbo].[MAS_SUB_MODULES] ([MODULE_ID], [STATUS_ID], [SGATE_ID])
GO
ALTER TABLE [dbo].[MAS_DELIVERABLES] CHECK CONSTRAINT [FK_MAS_DELIVERABLES__MAS_SUB_MODULES]
GO
ALTER TABLE [dbo].[MAS_STATUS]  WITH CHECK ADD  CONSTRAINT [FK_MAS_STATUS_MAS_MODULES] FOREIGN KEY([STATUS_MODULE])
REFERENCES [dbo].[MAS_MODULES] ([MODULE_ID])
GO
ALTER TABLE [dbo].[MAS_STATUS] CHECK CONSTRAINT [FK_MAS_STATUS_MAS_MODULES]
GO
ALTER TABLE [dbo].[MAS_SUB_MODULES]  WITH CHECK ADD  CONSTRAINT [FK_MAS_SUB_MODULES__MAS_MODULES] FOREIGN KEY([MODULE_ID])
REFERENCES [dbo].[MAS_MODULES] ([MODULE_ID])
GO
ALTER TABLE [dbo].[MAS_SUB_MODULES] CHECK CONSTRAINT [FK_MAS_SUB_MODULES__MAS_MODULES]
GO
ALTER TABLE [dbo].[MAS_SUB_MODULES]  WITH CHECK ADD  CONSTRAINT [FK_MAS_SUB_MODULES__MAS_STATUS] FOREIGN KEY([MODULE_ID], [STATUS_ID])
REFERENCES [dbo].[MAS_STATUS] ([STATUS_MODULE], [STATUS_ID])
GO
ALTER TABLE [dbo].[MAS_SUB_MODULES] CHECK CONSTRAINT [FK_MAS_SUB_MODULES__MAS_STATUS]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS]  WITH CHECK ADD  CONSTRAINT [FK_TRA_APPROVALS_DELIVERABLES] FOREIGN KEY([TRA_DELIVERABLE_ID])
REFERENCES [dbo].[TRA_DELIVERABLES] ([TRA_DELIVERABLE_ID])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS] CHECK CONSTRAINT [FK_TRA_APPROVALS_DELIVERABLES]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_TRA_COMMENTS_DELIVERABLES] FOREIGN KEY([TRA_DELIVERABLE_ID])
REFERENCES [dbo].[TRA_DELIVERABLES] ([TRA_DELIVERABLE_ID])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_COMMENTS] CHECK CONSTRAINT [FK_TRA_COMMENTS_DELIVERABLES]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_FILES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_FILES_DELIVERABLES] FOREIGN KEY([TRA_DELIVERABLE_ID])
REFERENCES [dbo].[TRA_DELIVERABLES] ([TRA_DELIVERABLE_ID])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_FILES] CHECK CONSTRAINT [FK_TRA_FILES_DELIVERABLES]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_DELIVERABLES_MAS_DELIVERABLES] FOREIGN KEY([MODULE_ID], [STATUS_ID], [SGATE_ID], [SEQUENCE])
REFERENCES [dbo].[MAS_DELIVERABLES] ([MODULE_ID], [STATUS_ID], [SGATE_ID], [SEQUENCE])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES] CHECK CONSTRAINT [FK_TRA_DELIVERABLES_MAS_DELIVERABLES]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_DELIVERABLES_PROJECT_GATE] FOREIGN KEY([TRA_GATE_ID])
REFERENCES [dbo].[TRA_PROJECT_GATES] ([TRA_GATE_ID])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES] CHECK CONSTRAINT [FK_TRA_DELIVERABLES_PROJECT_GATE]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_DELIVERABLES_STATUS] FOREIGN KEY([DELIVERABLE_STATUS_ID])
REFERENCES [dbo].[MAS_DELIVERABLE_STATUS] ([DELIVERABLE_STATUS_ID])
GO
ALTER TABLE [dbo].[TRA_DELIVERABLES] CHECK CONSTRAINT [FK_TRA_DELIVERABLES_STATUS]
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_PROJECT_GATES_MAS_SUB_MODULES] FOREIGN KEY([MODULE_ID], [STATUS_ID], [SGATE_ID])
REFERENCES [dbo].[MAS_SUB_MODULES] ([MODULE_ID], [STATUS_ID], [SGATE_ID])
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES] CHECK CONSTRAINT [FK_TRA_PROJECT_GATES_MAS_SUB_MODULES]
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES]  WITH CHECK ADD  CONSTRAINT [FK_TRA_PROJECT_GATES_STATUS] FOREIGN KEY([GATE_STATUS_ID])
REFERENCES [dbo].[MAS_GATE_STATUS] ([GATE_STATUS_ID])
GO
ALTER TABLE [dbo].[TRA_PROJECT_GATES] CHECK CONSTRAINT [FK_TRA_PROJECT_GATES_STATUS]
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS]  WITH CHECK ADD  CONSTRAINT [CK_TRA_APPROVALS_STATUS] CHECK  (([APPROVAL_STATUS]='REJECTED' OR [APPROVAL_STATUS]='APPROVED' OR [APPROVAL_STATUS]='PENDING'))
GO
ALTER TABLE [dbo].[TRA_DELIVERABLE_APPROVALS] CHECK CONSTRAINT [CK_TRA_APPROVALS_STATUS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MODULES RESTRICTION' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MAS_STATUS', @level2type=N'CONSTRAINT',@level2name=N'FK_MAS_STATUS_MAS_MODULES'
GO
USE [master]
GO

